body{
     font-family: "Montserrat", sans-serif;
     margin: 0;
     background-color: black;
     color: white;
     overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color:rgb(22, 22, 22);
    flex: 1;
    border-radius:1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: white;
    
}

.nav{
    height: 100px;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    background-color:rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-option{
    line-height: 2rem;
    opacity: 0.75;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.5rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left:1rem;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.library{
    background-color:rgb(22, 22, 22);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
}


.options{
    display: flex;
    justify-content: space-between;
}
.plus{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 80px;
    opacity: 0.75;
}
.arrow{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-right: 30px;
    opacity: 0.75;
}

.plus:hover , .arrow:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: rgb(65, 65, 65);
    border-radius: 0.7rem;
    margin: 0.75rem 0.5rem 1.75rem 0.5rem;
    padding: 0.5rem 1rem;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.para1{
    font-size: 1rem;
    font-weight: 500;
}

.para2{
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    background-color:rgb(22, 22, 22);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sticky-nav-icons img{
   margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options button{
    margin-right: 1rem;
}
.darkBadge{
    background-color: black;
    color: white;
}

@media(max-width: 1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color:rgb(65, 65, 65);
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-image{
    width: 100%;
     border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}
.controls{
    width: 25%;
}

.album{
    display: flex;
}

.album img{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 50px;
    width: 50px;
}

.song p{
    font-size: 10px;
}

.likes{
    display: flex;
    align-items: center;
}

.likes i{
    margin-left: 0.5rem;
    opacity: 0.75;
}
.player-controls{
    display: flex;
    justify-content:center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

/* Styling and scripting sliders */
.progress-bar::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: #ddd;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color:#1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.control{
    display: flex;
    align-items: center;
}
.control-icons i{
    font-size: 0.75rem;
    opacity: 0.5;
    margin-right: 0.6rem;
}
.small-bar{
    width: 30%;
    appearance: none;
    background:transparent;
}

.small-bar::-webkit-slider-runnable-track{
    appearance: none;
    height: 0.3rem;
    background-color: grey;
}

.small-bar::-webkit-slider-thumb{
    appearance: none;
    width: 0px;
    height: 0px;
}
